.faq {
    padding: 0 5rem;
}

.faqContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 20px 0;
    /* gap: 10%; */
    transition: height 0.3s ease;
    height: 700px;

}

.faqtLeft {
    max-width: 100%;
        height: 100%;
        justify-content: left;
       
}

.faqHeader {
    font-size: 3rem;
    white-space: nowrap;

}

.faqParagraph {
    white-space: nowrap;
    font-size: 1.5rem;
}


.faqRight {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    /* text-align: start; */
align-items: middle;
}

.joinBtn {
    margin-top: 20px;
    width: 200px;
    padding: 10px 30px;
    font-size: 1em;
    background-color: var(--pryColor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.joinBtn:hover {
    background: rgb(255, 39, 1);
}

@media only screen and (max-width: 768px) {
    .faqContainer {
        display: flex;
    flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .faqRight {
        text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
  
    }

    .faqLeft img {
        max-width: 100%;
        height: auto;
    }

    .faqLeft {
        text-align: center;
        width: 100%;
    }
}