
form {  
    margin: auto;
 position: relative;
 margin-bottom: 30px;
}
.answerContainer{
    display: flex;
    flex-direction: column;
}
.answer{
    border: 1px solid grey;
    width: 100%;
    display: inline;
    margin: 10px 5px;
    padding: 10px ;
    border-radius: 5px;
}
.textArea{
    display: block;
    width: 100%;
    border: 1px solid grey;
        margin: 10px 5px;
        padding: 10px;
}
.question{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    /* font-weight: bold; */
}
fieldset {
    border: 0;
    padding: 10px 0;
    margin: 0;
}

fieldset input {
    min-height: unset;
    width: 16px;
    height: 16px;
        margin-top: 8px;
     
}

fieldset label {
    margin: 4px 0;
    display: block;
}

.FormBtn {
width: 100px;
    height: 42px;
    background: var(--pryColor);
    border: none;
    color: white;
    border-radius: 8px;
    transition: color var(--transition);
    display: block;
        margin: 20px auto 0 auto;
}
.FormBtn:hover{
    background: rgb(255, 39, 1);
}
 .icon:hover{
    transform: scale(1.2);
}
.timer{
    display: flex;
position: absolute;
top: -3.9%;
left: 94%;
z-index: 99;
width: 100px;

}
.timerIcon{
    font-size: 15px;

}
@media screen and (max-width: 600px) {

    /* Adjust form layout for small screens */
    form {
        max-width: 100%;
        /* Full width on small screens */
        padding: 0 20px;
        /* Add padding for better spacing */
    }

    .question {
        font-size: 18px;
        /* Decrease font size for smaller screens */
    }

    .textArea {
        height: 80px;
        /* Reduce height of text area */
    }
}