.nav {
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 3.5rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.222);
}

.logoImg {
    width: 6.5rem;
}

.nav .nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav .nav-list li {
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
    transition: color var(--transition);
}

.navLink:hover {
    color: rgb(89, 89, 89);
}

.navLink::before {
    content: " ";
    width: 0;
    height: 3px;
    background: var(--pryColor);
    position: absolute;
    border-radius: 6px;
    bottom: -6px;
    left: 0;
    transition: var(--transition);
}

.navLink:hover::before {
    /* Adjusted selector for pseudo-element */
    width: 100%;
}

.navLink.active::before {
    width: 100%;
}

.ctaBtn {
    width: 160px;
    height: 42px;
    background: var(--pryColor);
    border: none;
    color: white;
    border-radius: 8px;
    margin-left: 12rem;
    transition: color var(--transition);
}

.ctaBtn:hover {
    background: rgb(255, 39, 1);
}

.nav .nav-btn {
    display: none;
}



.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 43%;
    background-color: #ffffff;
     padding: 10px;
    border: 1px solid #ccc;
    z-index: 1;
    /* Ensure dropdown is above other elements */
}

.dropdown.show {
    display: block;
    /* Show the dropdown when 'showDropdown' state is true */
}

/* Add any additional styling for the dropdown items as needed */
.dropdown li {
    list-style: none;
}

.dropdown li a {
    text-decoration: none;
    color: #333;
    /* Color of dropdown item text */
}

.dropdown li a:hover {
    color: #000;
    /* Color of dropdown item text on hover */
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 1rem;
    }

    .nav .nav-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .nav .nav-btn svg {
        width: 40px;
        margin-top: 10px;
        height: auto;
        color: orangered;
    }

    .nav .nav-list {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        background-color: #ffffff;
        top: 100%;
        left: 0;
        border: 1px solid grey;
    }

    .nav .nav-list li {
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;
    }

    .nav .nav-list.show {
        display: flex;
    }

    .ctaBtn {
        margin: 0;
    }
}