.progress-bar {
    width: 70%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.progress {
    height: 100%;
    background-color: #FF7845;
    transition: width 0.5s ease-in-out;
}
.ProgressbarWrapper{
    margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
    .ProgressbarWrapper {
            margin-bottom: 1.5rem;
        }
}