

.progress-wrapper {
    margin-top: 20px;
        width: 80%;
        margin: 0 auto;
}

.step-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: 20px;

}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 5px;
    position: absolute;
    left: 50%;
    /* Add margin bottom to create space between circle and label */
}

.step-label {
    white-space: nowrap;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .step-wrapper {
        margin: 0 auto;
        /* Adjust spacing for smaller screens */
    }
        .step-label {
            white-space: wrap;
        }
}